/* Creado por Francisco José Gómez Ruiz y Andrés Castillero Moriana */

/* Engloba todo el ejemplo */
.bordes_radius {
    display: flex;
    justify-content: left;
}

/** border_color **/
[class^=bordes_color] {
    border: 5px solid;
    margin-left: 1%;
    padding: 1%;
}

.bordes_colorEjemplo1 {
    border-color: #92a8d1;
}

.bordes_colorEjemplo2 {
    border-color: rgb(201, 76, 76);
}

.bordes_colorEjemplo3 {
    border-color: hsla(89, 43%, 51%, 0.3);
}

/** border_radius **/
/* Primer ejemplo */
.bordes_radiusEjemplo1 {
    width: 300px;
    height: 50px;
    background-color: yellow;
    border: 10px solid red;
    border-radius: 20px 5px 5px 20px;
    margin: 10px;
}

.bordes_radiusEjemplo2 {
    width: 300px;
    height: 50px;
    background-color: yellow;
    border: 10px solid red;
    border-radius: 2em/5em;
    margin: 10px;
}

/** border_style **/
[class^=bordes_style] {
    border: 5px;
    margin-left: 1%;
    padding: 1%;
}

.bordes_styleEjemplo1 {
    border-style: none;
}

.bordes_styleEjemplo2 {
    border-style: hidden;
}

.bordes_styleEjemplo3 {
    border-style: dotted;
}

.bordes_styleEjemplo4 {
    border-style: dashed;
}

.bordes_styleEjemplo5 {
    border-style: solid;
}

.bordes_styleEjemplo6 {
    border-style: double;
}

.bordes_styleEjemplo7 {
    border-style: groove;
}

.bordes_styleEjemplo8 {
    border-style: ridge;
}

.bordes_styleEjemplo9 {
    border-style: inset;
}

.bordes_styleEjemplo10 {
    border-style: outset;
}

.bordes_styleEjemplo11 {
    border-color: red;
    border-style: groove;
}

.bordes_styleEjemplo12 {
    border-color: blue;
    border-style: inset;
}

/** border-width **/
[class^=bordes_width] {
    border: 5px solid;
    margin-left: 1%;
    padding: 1%;
}

.bordes_widthEjemplo1 {
    border-width: 1em;
}

.bordes_widthEjemplo2 {
    border-width: thick 4px 1rem;
}

.bordes_widthEjemplo3 {
    border-width: medium 1.25ex thin 2cm;
}

/** border-image-source **/
.bordes_image_sourceEjemplo {
    border: 35px solid;
    border-image-source: url("https://www.w3schools.com/css/img_tree.png");
}