button.prueba_active:active {
    color: red;
    background-color: black;
}

a.prueba_active2:active {
    background-color: yellow;
    text-decoration: none;
}

button.prueba_hover:hover {
    color: red;
    background-color: white;
}

input.prueba_valid:valid {
    background-color: green;
    color: white;
}
.prueba_after::after {
    content: "♥";
    color:red;
}

.prueba_before{
    text-decoration: none;
}

.prueba_before::before{
    content: "→ ";
    color: red;
}