button.prueba_active:active {
    color: red;
    background-color: black;
}

a.prueba_active2:active {
    background-color: yellow;
    text-decoration: none;
}

button.prueba_hover:hover {
    color: red;
    background-color: white;
}